* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans";
}

@font-face {
    font-family: "Klemer";
    src: url(../fonte//Klemer\ Display\ DEMO.ttf);
}

.header-home {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    p {
        font-family: "Klemer";
        font-size: 20px;
        color: #E2FFBD;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 40px;
        font-size: 18px;
        opacity: 75%;
        
        li {
            cursor: pointer;

            a{
                color: black;
            }
        }
    }
}

.first-section {
    background-image: url("../img/back-web.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 140px 0px 140px;
    height: 100vh;

    .first-section-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 80vh;

        h1 {
            font-family: "Klemer";
            font-size: 48px;
            color: #E2FFBD;
            position: relative;
            z-index: 100;
        }

        p {
            display: flex;
            font-size: 24px;
            color: #E2FFBD;
            position: relative;
            z-index: 100;
        }
    }

    .character{
        position: absolute;
        height: 100vh;
        width: 100vw;
        max-height: 800px;
        display: flex;
        justify-content: end;
        top: -300px;
        z-index: 1;

        img{
            opacity: 85%;
            height: 210%;
        }
    }
}

.second-section {
    padding: 60px 140px;
    background-color: #ECEFF1;
    position: relative;
    z-index: 100;

    h2 {
        font-family: "Klemer";
        font-size: 32px;
        color: #4D6859;
        
    }

    .second-section-content {
        .second-section-content-cards {
            display: flex;
            justify-content: center;
            gap: 35px;
            margin: 60px 0;

            .card {
                background-color: #A6B1AB;
                font-size: 20px;
                font-weight: 300;

                img {
                    width: 384px;
                    height: 269px;
                }

                p {
                    padding: 10px;
                }
            }
        }

        .see-more {
            text-align: center;
            color: #738161;
            font-size: 18px
        }
    }
}

.third-section {
    padding: 60px 140px;
    background-color: #688072;
    position: relative;
    z-index: 100;

    .third-section-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .third-section-content-text {
            width: 50%;

            h2 {
                font-family: "Klemer";
                font-size: 32px;
                color: #C6D6D6;
            }

            p {
                margin: 60px 0;
                font-size: 24px;
                font-weight: 300;
                text-align: justify;
                color: white;
            }
        }
    }

    .see-more {
        text-align: center;
        color: #E2FFBD;
        font-size: 18px
    }
}

.fourth-section {
    padding: 60px 140px;
    background-image: url(../img/background-form.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ECEFF1;
    position: relative;
    z-index: 200;


    .fourth-section-content {
        display: flex;
        justify-content: space-between;

        .fourth-section-content-text {
            width: 40%;
            color: #4D6859;

            h2,
            .email {
                font-size: 32px;
                line-height: 1.5;
            }

            .email {
                font-weight: bold;
            }

            .commissions-text {
                padding-top: 60px;
            }

            p {

                font-size: 16px;
            }

            u {
                font-weight: bold;
            }
        }

        .fourth-section-content-form {
            width: 50%;
            color: #4D6859;

            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            input,
            textarea {
                border: none;
                background-color: #cdd9d2;
                border-radius: 5px;
                height: 30px;
                width: 100%;
                resize: none;
                padding: 0 10px;
            }

            textarea {
                height: 100px;
                padding: 10px 10px;
            }

            button {
                border: none;
                border-radius: 5px;
                background-color: #384D48;
                color: white;
                font-size: 16px;
                padding: 15px;
                cursor: pointer;
            }
        }
    }
}

footer {
    background-image: url(../img/background-footer.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 100;

    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 60px 140px;
        gap: 60px;

        h2 {
            font-family: "Klemer";
            font-size: 48px;
        }

        ul {
            list-style: none;
            font-size: 16px;
            padding-bottom: 20px;

            li {
                padding-top: 10px;
            }
        }
    }

    .powered{
        padding: 15px;
        text-align: end;

        a{
            text-decoration: none;
            font-weight: bold;
            color: black;
        }
    }
}